USE [DocSoTH]
GO
/****** Object:  Table [dbo].[Lich_DocSo]    Script Date: 2/12/2026 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lich_DocSo](
	[ID] [int] NOT NULL,
	[Ky] [int] NULL,
	[Nam] [int] NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Lich_DocSo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lich_DocSo] ([ID], [Ky], [Nam], [TuNgay], [DenNgay], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate]) VALUES (1, 8, 2019, CAST(N'2019-07-19' AS Date), CAST(N'2019-08-19' AS Date), 0, CAST(N'2019-07-12T13:52:02.833' AS DateTime), 0, CAST(N'2019-07-12T14:56:45.480' AS DateTime))
INSERT [dbo].[Lich_DocSo] ([ID], [Ky], [Nam], [TuNgay], [DenNgay], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate]) VALUES (2, 9, 2019, CAST(N'2019-08-20' AS Date), CAST(N'2019-09-18' AS Date), 0, CAST(N'2019-08-07T08:35:55.427' AS DateTime), 0, CAST(N'2019-08-07T10:38:12.873' AS DateTime))
INSERT [dbo].[Lich_DocSo] ([ID], [Ky], [Nam], [TuNgay], [DenNgay], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate]) VALUES (3, 10, 2019, CAST(N'2019-09-19' AS Date), CAST(N'2019-10-17' AS Date), 0, CAST(N'2019-09-11T14:00:12.303' AS DateTime), 0, CAST(N'2019-09-11T14:03:44.097' AS DateTime))
GO
