USE [DocSoTH]
GO
/****** Object:  Table [dbo].[NguoiDungB]    Script Date: 2/12/2026 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungB](
	[MaND] [int] NOT NULL,
	[STT] [int] NULL,
	[HoTen] [nvarchar](200) NULL,
	[DienThoai] [varchar](50) NULL,
	[LoginDate] [datetime] NULL,
	[NamVaoLam] [int] NULL,
	[NgayPhepNamCu] [int] NULL,
	[NgayPhepNamMoi] [int] NULL,
	[TongNgayPhep] [int] NULL,
	[Admin] [bit] NOT NULL,
	[PhoGiamDoc] [bit] NOT NULL,
	[Doi] [bit] NOT NULL,
	[DoiXem] [bit] NOT NULL,
	[ToTruong] [bit] NOT NULL,
	[HanhThu] [bit] NOT NULL,
	[DongNuoc] [bit] NOT NULL,
	[VanPhong] [bit] NOT NULL,
	[ChamCong] [bit] NOT NULL,
	[KTXM] [bit] NOT NULL,
	[ThuKy] [bit] NOT NULL,
	[updateChuyenListing] [bit] NOT NULL,
	[May] [int] NULL,
	[UID] [varchar](1000) NULL,
	[UIDDate] [datetime] NULL,
	[ActiveMobile] [bit] NOT NULL,
	[IDMobile] [varchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[KyTen] [bit] NOT NULL,
	[ChuKy] [varbinary](max) NULL,
	[An] [bit] NOT NULL,
	[MaTo] [int] NULL,
	[MaNhom] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[Khoa] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
